doctype html
html
    head
        //- Usando interpolación
        //<link rel="stylesheet" href="css/style.css" />
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Natours | Exciting tours for adventurous people
    body
        //h1= tour
        //h2= user.toUpperCase()
        ////- En el código buffer podemos utilizar código JavaScript
        //// h1 The park Este comentario va a ser visto en HTML
        ////- p This is just some text Este comentario es interno no se muestra en el archivo html
        //
        //- const x = 9;
        //h2=2 * x
        //
        //p This is just some text


        //- HEADER
        include _header


        //- CONTENT
        main.main
            h1= tour

        //- FOOTER
        include _footer